// Import breakpoints
@import "breakpoints";

* {
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #7f00ff, #00c6ff);
  font-family: "Segoe UI", sans-serif;
}

.background {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
}

.temp, .humidity-wind {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* ===== Suggestions ===== */
.suggestions {
  width: 80%;
  background: rgba(255,255,255,0.2);
  border-radius: 12px;
  display: none;
  max-height: 220px;
  overflow-y: auto;

  .suggestion-item {
    padding: 12px 16px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: rgba(255,255,255,0.3);
    }
  }
}

/* ===== Loader ===== */
.loader {
  font-size: 18px;
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  0% { opacity: 0.4 }
  50% { opacity: 1 }
  100% { opacity: 0.4 }
}


.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.card-container {
    @extend .background;
    width: 10vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    text-align: center;
}

// Define mixin for temp-card
@mixin temp-card($width) {
    @extend .background;
    height: 20vh;
    width: $width;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 20px;

    .temp-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;


        img {
            height: 18vh;
            width: 8vw;
        }

        .temp-content {
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }

}

.left {
    @extend .background;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50vw;
    height: 92vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .head {
        width: 95%;
        height: 18vh;
        display: flex;
        justify-content: space-between;

        .logo {
            margin-top: 10px;
        }

        .loc {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .humidity-wind {
        @extend .card;

        .humidity,
        .wind-speed {
            @extend .card-container;

            i {
                font-size: 22px;
            }
        }
    }

    .temp {
        @include temp-card(15vw);
    }
}

.left.active {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.right {
    @extend .background;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 45vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;

    .search-box {
        width: 80%;
        height: 4vw;
        border: 2px solid rgb(196, 190, 190);
        position: relative;
        border-radius: 20px;

        input {
            outline: none;
            border: none;
            background: transparent;
            color: white;
            width: 100%;
            height: 100%;
            padding-left: 20px;
            font-size: 18px;
            padding-right: 58px;
        }

        input::placeholder {
            color: rgb(231, 230, 230);
        }

        input[type='search']::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        i {
            font-size: 20px;
            position: absolute;
            right: 4%;
            top: 30%;
            cursor: pointer;
        }
    }

    .location {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.temparature-box{
    text-align: center;
  
    .not-found{
        height: 150px;
        margin-bottom: 20px;
        img{
            filter: invert(100%);
            height: 100%;
            width: 100%;
        }
       
    }
}
    .temp {
     @include temp-card(15vw);
    }

    .humidity-wind {
        @extend .card;

        .humidity,
        .wind-speed {
            @extend .card-container;

            i {
                font-size: 22px;
            }
        }
    }
}
.right.active{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
// Media queries
@include lg {
    .main {
        flex-direction: column;
    }

    .left {
        height: 30vh;
        width: 100%;
        border-radius: 0;
        .head {
            font-size: 15px;
        }
        .temp{
            font-size: 15x;
            height: 10vh;
            width: 20vw;
            margin-bottom: 30px;
            img {
                height: 2vh;
                width: 4vw;
                object-fit: contain;
            }
    
        }
        
    .humidity-wind {
      margin-bottom: 30px;

        .humidity,
        .wind-speed {
          width: 20vw;
          height: 10vh;

            i {
                font-size: 22px;
            }
        }
    }

    }

    .right {
        height: 70vh;
        width: 100%;
        border-radius: 0;
        .search-box {
            height: 5vw;
        }
    

        .temp{
            font-size: 20x;
            height: 10vh;
            width: 20vw;
            margin-bottom: 30px;
            img {
                height: 2vh;
                width: 4vw;
                object-fit: contain;
            }
    
        }
        
    .humidity-wind {
      margin-bottom: 30px;

        .humidity,
        .wind-speed {
          width: 20vw;
          height: 15vh;

            i {
                font-size: 25px;
            }
        }
    }
    }
}

@include md {
    .main {
        flex-direction: column;
    }

    .left {
        .head {
            font-size: 12px;
        }
        .temp{
            font-size: 15px;
            height: 10vh;
            width: 25vw;
            margin-bottom: 30px;
        }
    .humidity-wind {
       font-size: 12px; 
    }
    }

    .right {
        .search-box {
            height: 8vw;
        }
    
        .temp{
            font-size: 20x;
            height: 10vh;
            width: 25vw;
            margin-bottom: 30px;
            img {
                height: 2vh;
                width: 4vw;
                object-fit: contain;
            }
    
        }
        
    .humidity-wind {
      margin-bottom: 30px;

        .humidity,
        .wind-speed {
          width: 25vw;
          height: 15vh;

            i {
                font-size: 25px;
            }
        }
    }
    }
}

@include sm {
    .main {
        flex-direction: column;
    }

    .left {
        .head {
            font-size: 8px;
        }
        .temp{
            font-size: 8px;
            height: 10vh;
            width: 22vw;
            margin-bottom: 30px;
        }
    .humidity-wind {
       font-size: 9px; 
       .humidity,
        .wind-speed {
          width: 26vw;
          height: 8vh;

            i {
                font-size: 10px;
            }
        }
    }
    }

    .right {
        .search-box {
            height: 12vw;
        }
    
        .temp{
            font-size: 20x;
            height: 15vh;
            width: 32vw;
            margin-bottom: 30px;
            img {
                height: 6vh;
                width: 4vw;
            }
    
        }
        
    .humidity-wind {
      margin-bottom: 30px;
        font-size: 10px;
        .humidity,
        .wind-speed {
          width: 30vw;
          height: 12vh;

            i {
                font-size: 25px;
            }
        }
    }
    }
}

@include xs {
    .main {
        flex-direction: column;
    }

    .left {
        .head {
            font-size: 8px;
        }
        .temp{
            font-size: 8px;
            height: 8vh;
            width: 22vw;
            margin-bottom: 12px;
        }
    .humidity-wind {
       font-size: 9px; 
       .humidity,
        .wind-speed {
          width: 26vw;
          height: 8vh;

            i {
                font-size: 10px;
            }
        }
    }
    }

    .right {
        .search-box {
            height: 15vw;
        }
    
        .temp{
            font-size: 12px;
            height: 15vh;
            width: 35vw;
            margin-bottom: 30px;
    
        }
        
    .humidity-wind {
      margin-bottom: 30px;
        font-size: 10px;
        .humidity,
        .wind-speed {
          width: 30vw;
          height: 12vh;

            i {
                font-size: 15px;
            }
        }
    }
    }
}
